<!DOCTYPE html>
<html>
<head>
  <title>AdaCookbooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top-banner">
    <h1 class="center-justified">Awesome Cookbook!</h1>

  </div>

<%= yield %>
  
  <div class="footer">
    <a href= >
  </div>
</body>
</html>
